@include theme() {
    &_comments {
        @include fullWidth;
        @include containerSpacing;

        &.comments1 {
            background-color: $color-neutral-4;
        }

        &_content {
            @include containerWidth;
            @include flex(space-between, center, nowrap);
            gap: 10px;

            &_navigation {
                @include flex;
                font-size: 1.8em;
                height: 100%;
                cursor: pointer;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    padding: 0 20px;
                }
            }

            &_commentarea {
                @include flex(space-around);
                gap: 40px;
                padding: 60px 0;

                &_image {
                    @include flexBasis(150px);
                    height: 150px;
                    @include flex;

                    &.comments1_commentarea_image {
                        border: 3px solid $color-tertiary;

                        i {
                            font-size: 3em;
                            color: $color-tertiary
                        }
                    }
                }

                &_comment {
                    @include flexBasis(calc(100%));

                    @include setResponsiveDesign($breakpoint-mobile-landscape) {
                        @include flexBasis(80%);
                    }

                    .comment {
                        font-style: italic;
                        line-height: 1.6em;
                        margin-bottom: 22px;

                        @include setResponsiveDesign($breakpoint-desktop-sd) {
                            font-size: 1.2em;
                        }
                    }

                    hr {
                        display: inline-block;
                        width: 60px;
                        border: none;
                        border-bottom: 3px solid $color-primary;
                    }

                    .author {
                        display: inline-block;
                        font-size: 1.2em;
                        font-family: $font-kaushan;
                        color: $color-neutral-1;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}