@include theme() {
    &_devices {
        @include fullWidth;
        @include containerSpacing;
        margin-bottom: 80px;
        @include backgroundImage("../../images/all-devices.jpg");

        &_content {
            padding-top: 60px;

            &_image {
                img {
                    @include containerWidth(636px);
                    transform: translateY(13.5%);
                }
            }
        }
    }
}