@include theme() {
    &_header {
        @include absolute;
        @include fullWidth;
        z-index: 10;
        padding: 30px 0;

        &_content {
            @include containerWidth;
            @include flex(space-between);

            &_title {
                h1 {
                    text-transform: none;
                    font-size: 1.6em;

                    a {
                        color: $color-white;
                    }
                }
            }

            &_menu {
                @include relative;
                text-align: right;

                &_icon {
                    font-size: 1.8em;
                    color: $color-white;
                    cursor: pointer;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        display: none;
                    }
                }

                ul {
                    @include absolute(calc(100% + 20px), unset);
                    right: 0;

                    background-color: $color-primary;
                    padding: 20px 40px;

                    display: none;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex(flex-end, stretch, nowrap);
                        column-gap: 20px;
                        position: static;
                        background: none;
                        padding: 0;
                    }

                    li {
                        list-style: none;

                        a {
                            font-size: 1.4em;
                            color: $color-white;
                            text-transform: uppercase;
                            font-family: $font-montserrat;
                            padding: 12px 0;
                            display: inline-block;

                            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                font-size: 1em;
                            }

                            &:not(.icon) {                                
                                border-bottom: 3px solid transparent;
                            }

                            &:hover {
                                color: $color-secondary;                            
                                border-color: $color-secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}