@include theme() {
    &_service {
        @include fullWidth;
        @include containerSpacing;

        &_content {
            @include containerWidth;

            &_boxcollapse {
                @include flex;
                gap: 30px;

                @include containerWidth(600px, 0, 0);

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include fullWidth;
                    max-width: 100%;
                }

                &_image {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flex2(30px);
                    }
                }

                &_collapse {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flex2(30px);
                    }

                    &_item {
                        margin-bottom: 14px;

                        &:first-child {
                            .mogo_service_content_boxcollapse_collapse_item_info {
                                display: block;
                            }
                        }

                        &_title {
                            @include flex(space-between, center, nowrap);
                            padding: 14px;
                            border: 1px solid $color-neutral-3;

                            h2 {
                                i {
                                    color: $color-tertiary;
                                    margin-right: 14px;
                                }
                            }

                            i {
                                font-size: 1.6em;
                                vertical-align: middle;
                            }
                        }

                        &_info {
                            padding: 24px;
                            border: 1px solid $color-neutral-3;
                            border-top: none;

                            display: none;

                            p {
                                font-style: italic;
                                font-size: 0.875em;
                                line-height: 1.6em;
                                overflow: auto;

                                &::-webkit-scrollbar {
                                    width: 5px;
                                    background-color: $color-neutral-3;
                                    @include setAttributeCores(border-radius, 5px);

                                    &-thumb {
                                        background-color: $color-tertiary;
                                        @include setAttributeCores(border-radius, 5px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}