@include theme() {
    &_slider {
        @include fullWidth;
        @include adjustBackgroundImage;
        background-image: $color-gradient;

        &_content {
            height: 900px;
            @include adjustBackgroundImage;

            overflow: hidden;
            @include relative;

            @include flex(flex-end, center, nowrap);
            flex-direction: column;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                height: 1000px;
            }

            &_slide {
                @include containerWidth(800px);
                height: 100%;
                padding-top: 40px;

                @include flex;
                text-align: center;

                &_headline {
                    h1 {
                        font-size: 3em;
                        color: $color-white;

                        @include setResponsiveDesign($breakpoint-mobile-landscape) {
                            font-size: 5em;
                        }

                        @include setResponsiveDesign($breakpoint-tablet-landscape) {
                            font-size: 8em;
                        }

                        span {
                            font-size: 0.5em;
                        }

                        hr {
                            border-color: $color-white;
                        }
                    }

                    a {
                        border: 3px solid $color-white;
                        background: none;
                        margin-top: 50px;
                    }
                }
            }

            &_nav {
                @include fullWidth;
                padding-bottom: 30px;

                &_content {
                    @include flex(center, center, nowrap);
                    gap: 20px;
                    @include containerWidth;

                    &_item {
                        @include flex4(20px);

                        h2 {
                            color: $color-white;
                            display: none;
                            font-weight: 400;

                            @include setResponsiveDesign($breakpoint-mobile) {
                                display: block;
                                font-size: 0.8em;
                            }

                            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                font-size: 1em;
                            }

                            span {
                                font-weight: 700;
                                font-size: 1.2em;
                            }
                        }

                        .progressbar {
                            @include fullWidth;
                            height: 3px;
                            background-color: $color-white;
                            margin-bottom: 24px;

                            &_progression {
                                width: 0;
                                height: 100%;
                                background-color: $color-primary;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}