* {
    margin: 0;
    padding: 0;
    font-size: 1em;

    @include setAttributeCores(box-sizing, border-box);
}

body {
    font-family: $font-roboto;
    color: $color-neutral-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-montserrat;
    color: $color-neutral-1;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    display: block;
    @include fullWidth;
}

@include theme() {
    &_title {
        text-align: center;
        font-size: 1.6em;

        span {
            font-family: $font-kaushan;
            font-weight: normal;
            font-size: 1em;
            display: block;
            text-transform: none;
            margin-bottom: 24px;
        }

        hr {
            margin: 40px auto 0 auto;
            width: 60px;
            border: none;
            border-bottom: 3px solid $color-primary;
        }
    }

    &_button {
        display: inline-block;
        text-transform: uppercase;
        color: $color-white;
        font-family: $font-montserrat;
        font-weight: 700;
        padding: 14px 30px;
        background-color: $color-tertiary;
        cursor: pointer;
        border: none;
    }

    &_mainparagraph {
        text-align: center;
        line-height: 1.8em;
        @include containerSpacing(40px);
    }

    &_card {
        @include relative;
        @include gradientBackground;

        &_title {
            @include absoluteFull;
            @include flex;
            display: none;

            a {
                color: $color-white;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.2em;

                i {
                    display: block;
                    margin-bottom: 12px;
                }
            }
        }

        &:hover {
            box-shadow: 10px 10px 0 $color-tertiary;

            .mogo_card_image {
                opacity: 0.1;
            }

            .mogo_card_title {
                display: flex;
            }
        }
    }
}

@import "theme/header";
@import "theme/slider";
@import "theme/about";
@import "theme/statistics";
@import "theme/services";