// SET THEME
@mixin theme() {
    .mogo {
        @content;
    }
}

// BROWSERS CORE
@mixin setAttributeCores($attr, $value, $browsers: $browsers-core) {
    #{$attr}: #{$value};

    @each $browser in $browsers {
        -#{$browser}-#{$attr}: #{$value};
    }
}

// CONTAINER STRUCTURE
@mixin fullWidth() {
    width: 100%;
}

@mixin containerWidth($maxWidth: 1200px, $paddingY: 0, $paddingX: 20px) {
    max-width: $maxWidth;
    margin: auto;
    padding: $paddingY $paddingX;
}

@mixin containerSpacing($marginY: 60px, $marginX: 0) {
    margin: $marginY $marginX;
}

// FLEXBOX
@mixin flex($justifyContent: center, $alignItems: center, $flexWrap: wrap) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin flexBasis($basis, $gap: 0) {
    @if $gap != 0 {
        flex-basis: calc($basis - $gap);
    }

    @else {
        flex-basis: $basis;
    }
}

@mixin flex1($gap: 0) {
    @include flexBasis(100%, $gap);
}

@mixin flex2($gap: 0) {
    @include flexBasis(calc(100% / 2), $gap);
}

@mixin flex3($gap: 0) {
    @include flexBasis(calc(100% / 3), $gap);
}

@mixin flex4($gap: 0) {
    @include flexBasis(calc(100% / 4), $gap);
}

// POSITION
@mixin relative() {
    position: relative;
}

@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absoluteFull($top: 0, $left: 0) {
    @include absolute($top, $left);
    width: 100%;
    height: 100%;
}

// BACKGROUND IMAGE
@mixin backgroundImage($image: "", $backgroundRepeat: no-repeat, $backgroundSize: cover, $backgroundPosition: center center) {
    @if $image != "" {
        background-image: url(#{$image});
    }

    background-repeat: $backgroundRepeat;
    background-size: $backgroundSize;
    background-position: $backgroundPosition;
}

@mixin gradientBackground() {
    background-image: $color-gradient;
}

// RESPONSIVE DESIGN
@mixin setResponsiveDesign($screenWidth) {
    $width: calc($screenWidth + 1px);

    @media screen and (min-width: $width) {
        @content;
    }
}