// COLORS
$color-primary: #F38181;
$color-secondary: #FCE38A;
$color-tertiary: #95E1D3;

$color-gradient: linear-gradient(to bottom, $color-primary, $color-secondary);

$color-neutral-1: #333;
$color-neutral-2: #999;
$color-neutral-3: #E5E5E5;

$color-white: #FFF;

// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;

// BROWSERS CORE
$browsers-core: ("moz", "webkit");