// COLORS
$color-primary: #F38181;
$color-secondary: #FCE38A;
$color-tertiary: #95E1D3;

$color-gradient: linear-gradient(to bottom, $color-primary, $color-secondary);

$color-neutral-1: #333;
$color-neutral-2: #999;
$color-neutral-3: #E5E5E5;
$color-neutral-4: #F8F8F8;

$color-white: #FFF;

// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;

// BROWSERS CORE
$browsers-core: ("moz", "webkit");

// BREAKPOINTS
$breakpoint-mobile: 480px;
$breakpoint-mobile-landscape: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop-sd: 1024px;
$breakpoint-desktop-hd1: 1366px;
$breakpoint-desktop-hd2: 1440px;
$breakpoint-desktop-fhd: 1920px;